
bin
bin/Debug/netcoreapp2.0/recru_it.dll
bin/Debug/netcoreapp2.0/recru_it.pdb
obj/Debug/netcoreapp2.0/recru_it.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/recru_it.dll
obj/Debug/netcoreapp2.0/recru_it.pdb
